<div class="wrapper">

    <div class="feed">
        <div class="feed-title">Numbers from data base</div>
        <div class="feed-content" >
           <!-- <span>1111,1,1,1,1,21,2,12,1,32,32d54646546,54654,6545555555555555555</span> -->
            <span *ngFor="let item of allNumbers">{{item}}</span>
            
        </div>
    </div>

    <form [formGroup]="formNumbers" (ngSubmit)="onSubmit('todo')">
        <input type="number" formControlName="number">

        <div class="actions">
            <button class="main-btn" type="submit">Submit</button>
            <button class="main-btn" type="button"(click)="onReport()" >Report</button>
        </div>
    </form>
</div>