<div class="wrapper">
    <div class="">retes{{rates}}</div>
    <div class="">load{{loading}}</div>
    <div class="">error{{rates | json}}</div>
    <div class="feed">
        <div class="feed-title">Numbers from data base</div>

        <div class="feed-content">
            <span *ngFor="let item of allNumbers">{{item}}</span>
        </div>
    </div>

    <form [formGroup]="formNumbers" (ngSubmit)="onSubmit()">
        <input type="number" formControlName="number">

        <div class="actions">
            <button class="main-btn" type="submit">Submit</button>

            <button class="main-btn" type="button" (click)="onReport()">Report</button>
        </div>
    </form>
</div>